* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color:  #ddd;
}

header{
    background-color: #193F80;
    color: #80AEFF;
    font-size: 1.1;
    text-align: center;
    padding: 1rem;
    width: 100%;
    box-shadow: 0 3px 10px 0 rgba(0,0,0,.12);

}
.container {
    width: 320px;
    margin: auto;
    background-color: #999999;
}

video, canvas {
    position: absolute;
}

.slider{
    height: 222px;
    margin: 5px 0 5px 10px;
}

.stats{
}
